
#root-admin {
    position: relative;
    display: flex;
    background-color: var(--background-main);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.sidebar{
    position: relative;
    display: block;
    width: 65px;
    background-color: var(--background-main);
    transition: width 0.25s linear;
    overflow: hidden;
    box-shadow: 0 4px 8px grey;
}
.sidebar.active{
    width: 250px;
}

.sidebar-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    justify-content: center;
}
.sidebar-wrapper-inner{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    height: 100%;
}
.sidebar-wrapper-inner-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-wrapper-inner-list-item{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
    padding: 8px;
    height: 40px;
    background-color: var(--primary);
    box-shadow: 0 0 8px var(--primary);
    width: 40px;
    overflow: hidden;
    transition: width 0.25s linear;
    margin: 20px 0;
}
.sidebar-wrapper-inner-list-item.open{
    width: 200px;
}

.content{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 0px;
    z-index: 1000;
}