@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
    --primary: #c8ddd8;
    --primary-light: #cee0dc;
    --primary-dark: #b4c7c2;
    --secondary: #e5cc8e;
    --secondary-light: #e8d199;
    --secondary-dark: #ceb880;
    --background-main: #fdfdfd;
    --background-dark: #040301;
    --text: #485b61;
    --font-family-default: "Roboto", "Helvetica", "Arial", sans-serif;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: inherit;
    min-height: 100%;
}

#root {
    display: grid;
}

.logo-text {
    font-size: 32px !important;
    font-family: 'Satisfy', cursive !important;
    color: var(--background-dark);
    text-decoration: none;
}

.navbar-link {
    display: inline-block;
    font-size: 1.4rem;
    position: relative;
    text-decoration: none;
    color: var(--background-dark);
    font-weight: 500;
    font-family: var(--font-family-default);
    letter-spacing: -1px;
    z-index: 2;
}

.navbar-link::after {
    position: absolute;
    content: " ";
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 25px;
    background-color: var(--secondary);
    transform: scale(0);
    transition: all 0.4s ease-in-out;
}

.navbar-link:hover::after {
    transform: scale(1);
}

.category-trigger {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.category-menu .MuiCollapse-wrapperInner {
    position: relative;
    display: inline-block;
    width: 100%;
    right: 0;
    color: var(--text);
    background-color: var(--background-main);
    z-index: 3;
    padding: 3rem;
    box-shadow: 0 2px 8px grey;
}

.category-menu-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5rem;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.category-menu-link-parent {
    display: inline-block;
    font-size: 1.2rem;
    position: relative;
    text-decoration: none;
    color: var(--background-dark);
    font-weight: 500;
    font-family: var(--font-family-default);
    letter-spacing: -1px;
}
.MuiDrawer-paperAnchorLeft{
    width: 65%;
}
.sidebar-menu{
    position: relative;
    width: 100%;
}

.basket-qty {
    position: absolute;
    right: -5px;
    top: -5px;
    color: var(--text);
    background-color: var(--secondary);
    border-radius: 50%;
    font-size: 14px;
    padding: 4px 6px;

}

#myBtn {
    position: fixed;
    right: 2%;
    bottom: 3%;
}

.hero-section {
    position: relative;
    display: block;
    width: 100%;
    height: 70vh;
    background-color: var(--primary);
    box-shadow: 0 5px 8px grey;
}

.hero-section-title {
    letter-spacing: -1px !important;
    font-weight: 600 !important;
    word-spacing: -1px
}

.hero-section-p {
    text-align: justify;
    letter-spacing: -1px !important;
    justify-self: center;
    font-weight: 400 !important;
    color: var(--text);

}

.hero-section-icon {
    position: relative;
    display: inline-block;
    padding: 5px;
    border-radius: 7px;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
}

.hero-section-icon:hover {
    background-color: var(--primary-dark);
}

.hero-section-image {
    position: relative;
    display: block;
    width: 90%;
    object-fit: cover;
    object-position: center;
    right: -15rem;
    top: -7rem;
    z-index: 0;
}

.product-box {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.8rem;
    width: 100%;
    padding: 2rem;
    justify-content: center;
}

.product-card {
    position: relative;
}

.product-card-image {
    transition: all 0.5s ease-in-out;
}

.product-card:hover .product-card-image {
    transform: scale(1.1);
}

.product-card-discount {
    position: absolute;
    top: 5px;
    left: -35px;
    width: 100px;
    text-align: center;
    font-weight: 600 !important;
    font-size: 1.15rem !important;
    transform: rotate(-45deg);
    background-color: var(--secondary);
    padding: 5px;
    z-index: 1;
}

.footer {
    display: block;
    position: relative;
    width: 100%;
    background-color: var(--background-main);
    box-shadow: -2px 0 8px grey;
    padding: 2rem 0 0 0;
    clear: both;
}

.footer-list {
    list-style: none;
    margin: 2rem;
}

.footer-list-header {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

.footer-list-item {
    font-size: 1.15rem !important;
    font-weight: 400 !important;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    color: var(--text);
}

.footer-list-item:hover {
    list-style: "►";
}

.footer-list-social-icon {
    position: relative;
    display: inline-block;
    padding: 5px;
    border-radius: 7px;
    transition: background-color 0.5s ease-in-out;
    cursor: pointer;
    color: var(--text);
}

.footer-list-social-icon:hover {
    background-color: var(--primary-dark);
}

.form-wrapper{
    display: grid;
    position: relative;
    gap: 1rem;
    padding: 2rem;
    margin: 5rem;
    border-radius: 7px;
    box-shadow: 2px 2px 8px grey;
}


@media only screen and (max-width: 1200px) {
    .hero-section-image {
        right: 0;
        top: 0;
        left: 0;
        margin: auto;
        width: 60%;
    }

    .hero-section {
        height: 100vh;
    }
}

@media only screen and (max-width: 900px) {
    .hero-section-image {
        right: 0;
        top: 0;
        left: 0;
        margin: auto;
        width: 60%;
    }

    .hero-section {
        height: 100vh;
    }
}

@media only screen and (max-width: 600px) {
    .hero-section-image {
        right: 0;
        top: 0;
        left: 0;
        margin: auto;
    }

    .hero-section {
        height: 100vh;
    }
}